<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Manga UI Compact</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
 
</head>
<body>
  <!-- header -->
  <%- include('layout/header') %>
  <!-- login pop up -->
  <%- include('login') %>
  <div class="grid" id="manga-list"></div>

  <script>
    const mangas = [
      {
        title: "La noche eterna",
        description: "Su descontrol provoca tantas dudas, miedos y desconfianza.",
        image: "https://t3.nhentai.net/galleries/3318589/cover.webp.webp",
        genre: "Acción",
        rating: 3
      },
      {
        title: "La noche eterna",
        description: "Su descontrol provoca tantas dudas, miedos y desconfianza.",
        image: "https://t3.nhentai.net/galleries/3318589/cover.webp.webp",
        genre: ["Acción", "Drama" , "Romance"],
        rating: 3
      },
      {
        title: "La noche eterna",
        description: "Su descontrol provoca tantas dudas, miedos y desconfianzaSu descontrol provoca tantas dudas, miedos y desconfianzaSu descontrol provoca tantas dudas, miedos y desconfianzaSu descontrol provoca tantas dudas, miedos y desconfianza.",
        image: "https://t3.nhentai.net/galleries/3318589/cover.webp.webp",
        genre: "Acción",
        rating: 3
      },
      {
        title: "La noche eterna",
        description: "Su descontrol provoca tantas dudas, miedos y desconfianza.",
        image: "https://t3.nhentai.net/galleries/3318589/cover.webp.webp",
        rating: 3
      },
    ];

    function generateStars(rating) {
      let stars = '';
      for (let i = 0; i < 5; i++) {
        stars += i < rating ? '★' : '☆';
      }
      return stars;
    }

    const container = document.getElementById("manga-list");

    mangas.forEach(manga => {
      const card = document.createElement("div");
      card.className = "card";
      card.innerHTML = `
        <img src="${manga.image}" alt="${manga.title}">
        <div class="card-body">
          <div>
            <div class="card-title">${manga.title}</div>
            <div class="card-text">${manga.description}</div>
          </div>
          <div class="card-genre">${manga.genre}
          <div class="stars">${generateStars(manga.rating)}</div></div>
        </div>
      `;
      container.appendChild(card);
    });
  </script>

</body>
</html>
